.navbar .home-link span.site-name {
  display: none !important;
}

.home .hero img {
    max-height: 430px;
}

.home .feature {
  flex-grow: 1 !important;
  flex-basis: 23% !important;
  max-width: 23% !important;
}

dt {
  font-weight: bolder;
}

dd {
  margin-bottom: 1em;
}
