.navbar .home-link span.site-name {
  display: none !important;
}

.home .hero img {
    max-height: 430px;
}

.home .feature {
  flex-grow: 1 !important;
  flex-basis: 23% !important;
  max-width: 23% !important;
}

@media (max-width: 719px) {
  .home .feature {
      max-width: 100% !important;
      padding: 0 1.5rem !important;
  }
}

dt {
  font-weight: bolder;
}

dd {
  margin-bottom: 1em;
}

figcaption {
  text-align: center;
}

.custom-block table {
  background-color: white;
  border-collapse: collapse;
}

.exercise
  margin 1rem 0
  padding .1rem 1.5rem
  border-top-right-radius 0.4rem
  border-bottom-right-radius 0.4rem
  background-color #f0f4f8
  border-left: 8px solid #ED7900 !important;
  .title
    font-weight bold

.example
  margin 1rem 0
  padding .1rem 1.5rem
  border-top-right-radius 0.4rem
  border-bottom-right-radius 0.4rem
  background-color #f0f4f8
  border-left: 8px solid #A50007 !important;
  .title
    font-weight bold

.custom-block table {
  background-color: white;
  border-collapse: collapse;
}

// SoS grønn = #96A407
// SoS blå = #388AA0
// SoS orange = #ED7900
// SoS rød = #A50007

.custom-block.tip {
  background-color: #f3f5f7;
  border-color: #96A407 !important;
}

.custom-block.warning {
  background-color: #f3f5f7;
  border-color: #388AA0 !important;
  color: #2c3e50;
}

.custom-block.warning .custom-block-title {
  color: #2c3e50;
}

.partners {  
  padding: 2rem;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  /* justify-content: center; */
}
.partners .partner {
  padding: 1rem;
  align-self: center;
}
.partners .partner img {
  width: 80%;
}
.partners .partner .title {
  display: none;
}

.container {  
  display: grid;
}
.container.two-column {
  grid-template-columns: 1fr 1fr;
}
.container.four-column {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.container .video {
  padding: 1rem;
}
.container .video .title {
  display: none;
}
